<h1>New event</h1>
<%= form_for @event do |f| %>
	<%= f.label :event_date %>
	<%= f.date_field :event_date %>
	
	<%= f.label :event_name %>
	<%= f.text_field :event_name %>

	<%= f.label :event_description %>
	<%= f.text_area :event_description%>
	
	<%= f.submit "Create event"%>
<%end%>
