<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  	<% if is_logged_in? %>
  		Hello, <%= current_user.name%>
  		<%= link_to "Log out", logout_path(current_user), method: :delete %>
  	<%else%>
  		<%= link_to "Log in", login_path %>
  	<%end%>
  	</header>
    <%= yield %>
  </body>
</html>
